#main{
	width: 100%;
	height: 700px;
	background: #E3E3E3; 

}
.prev{
	width: 100px;
	height: 40px;
	background:transparent ;
	float: left;
	color: black;
	border: none;
	font-weight: bold;
	// font-size: 10px;
	
}
.next{
	width: 100px;
	height: 40px;
	background: transparent;
	float: right;
	color: black;
	border: none;
	font-weight: bold;
// 	font-size: 10px;
}
.bigImg{
	width: 800px;
	height:400px;
	margin: 0 auto;
	
}
.bigImg img{
	width: 100%;
	height: 100%;
}
.grid{
	width: 800px;
	height: 150px;
	margin: 20px auto;
}
.grid .gridImg{
	width: 180px;
	height: 100px;
	display: inline-block;
	margin-left: 12px; 

} 